<ion-header>

  <ion-toolbar  color="primary">

    <ion-title>Detalle Moto</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <img src="{{moto.foto}}">
  {{moto.marca}}<br>
  {{moto.modelo}}<br>
  <ion-button (click)="borrar()">
    Borrar Moto
  </ion-button>

</ion-content>
