<ion-header>

  <ion-toolbar  color="primary">

    <ion-title>Añadir Moto</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Marca: </ion-label>
    <ion-input [(ngModel)]="marca"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Modelo: </ion-label>
    <ion-input [(ngModel)]="modelo" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Año: </ion-label>
    <ion-input [(ngModel)]="year"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Precio: </ion-label>
    <ion-input [(ngModel)]="precio"></ion-input>
  </ion-item>
  <ion-item>
    <label for="foto">
      <img id="icon" src="/assets/camara.svg">
    </label>
    <input style="width: 100%; cursor: pointer;" id="foto" type="file" name="foto" accept="image/*" capture="camera" />
  </ion-item>
  <br>
  <ion-button (click)="postMoto()">Añadir Moto</ion-button>

</ion-content>
